.place__title {
    color: #010101;
    font-weight: bold;
    font-size: 34px;
    line-height: 1.3;
    margin: 0;
}

@media screen and (max-width: 425px) {
    .place__title {
        font-size: 30px;
    }
}
