.place__paragraph {
    max-width: 400px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        max-width: 728px;
    }
}
